*{ 
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.box-pizza {
  background-color: #ffd11a;
  padding: 10px;
  border: 30px soild black;
  margin: 60px;
}

.box-fries {
  background-color: #b32400;
   padding: 10px;
  border: 30px soild black;
  margin: 60px;
}
  
.box-lemonade {
  background-color: #ffff00;
   padding: 10px;
  border: 30px soild black;
  margin: 60px;
}

.box-hotdog {
   background-color: #4d94ff;
   padding: 10px;
  border: 30px soild black;
  margin: 60px;
}

.box-wings {
  background-color: #d2a679;
   padding: 10px;
  border: 30px soild black;
  margin: 60px;
}
